@*<!DOCTYPE html>

<html lang="en" ng-app="eventModule" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Hello World with AngularJS</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body ng-app="myApp" style="font-family:Verdana, Geneva, Tahoma, sans-serif">
    <h1 ng-controller="HelloWorldCtrl">{{helloWorldMessage}}</h1>
    <script type="text/javascript">
        var myApp = angular.module('myApp', []);
        myApp.controller('HelloWorldCtrl', function ($scope) {
            $scope.helloWorldMessage = "Hellow World with AngularJS on " + (new Date()).toDateString();
        })
    </script>

    <div class="row" ng-controller="eventController">
        @*{id: '1001', name : 'AngularJS 101', speaker : 'Adam Raphael', venue : 'Hall 2', duration : '45m'},
        {id: '1002', name : 'ASP.NET 101', speaker : 'Leigh Hogan', venue : 'Hall 1', duration : '1h30m'},
        {id: '1003', name : 'CRM 101', speaker : 'Leigh Hogan', venue : 'Hall 4', duration : '1h'},
        {id: '1004', name : 'Cloud 101', speaker : 'Adam Raphael', venue : 'Hall 3', duration : '30m'},
        {id: '1005', name : 'RMA 101', speaker : 'Jackson Collins', venue : 'Boardroom', duration : '8h'},

        ]">
        <h2>Talk Details</h2>
        <div class="row">
            <table class="table table-condensed table-hover">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Speaker</th>
                    <th>Venue</th>
                    <th>Duration</th>
                </tr>
                <tr ng-repeat="talk in talks">
                    <td> {{talk.id}} </td>
                    <td> {{talk.name}} </td>
                    <td> {{talk.speaker}} </td>
                    <td> {{talk.venue}} </td>
                    <td> {{talk.duration}} </td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>*@